{% if false %}
false
{% else %}
else
{% end %}

{% if true %}
true
{% end %}

{% if false %}
false
{% end %}

{% if false %}
false
{% elif nonempty %}
nonempty
{% end %}

{% if empty %}
empty
{% else %}
else
{% end %}

{% if false %}
false
{% elif false %}
false
{% else %}
else
{% end %}