print: {% string %}
upperCase: {% string | upperCase %}
lowerCase: {% upper | lowerCase %}
length: {% empty | length %}
length: {% string | length %}
kebabCase: {% with-spaces | kebabCase %}
camelCase: {% with-spaces | camelCase %}
snakeCase: {% with-spaces | snakeCase %}
pascalCase: {% with-spaces | pascalCase %}
capitalize: {% with-spaces | capitalize %}
capitalizeWords: {% with-spaces | capitalizeWords %}
environment: {% "ENV_TEST" | environment %}
reverse: {% "string" | reverse %}
split: {% "hello world" | split(" ") %}
lines: {% "
a
b
c

x
" | lines %}
matches: {% "hello world" | matches("[lo]{3} w") %}
matches: {% "hello world" | matches("oll") %}
substring: {% "hello world" | substring(1, 5) %}
substring: {% "hello world" | substring(1) %}
substring: {% "hello world" | substring(0, 1) %}
substring:{% "hello world" | substring(0, 0) %}
substring: {% "hello world" | substring(0, 100) %}
take: {% "hello world" | take(100) %}
take:{% "hello world" | take(0) %}
take: {% "hello world" | take(3) %}
drop:{% "hello world" | drop(100) %}
drop: {% "hello world" | drop(0) %}
drop: {% "hello world" | drop(3) %}
empty: {% "hello" | empty %}
empty: {% "" | empty %}
empty: {% "  " | empty %}
toJson: {% "  " | toJson %}
toJson: {% " xxx " | toJson %}
fromJson: {% "{}" | fromJson %}
fromJson: {% "[1,2,3]" | fromJson %}
fromJson: {% "1" | fromJson %}
fromJson:{% "null" | fromJson %}
abbreviate: {% "abdef" | abbreviate(2) %}
abbreviate: {% "abdef" | abbreviate(10) %}
abbreviate: {% "abdef" | abbreviate(0) %}
trim: {% "abdef" | trim %}
trim:{% "" | trim %}
trim: {% " x " | trim %}
trim:{% "   " | trim %}
trimLeft: {% "abdef" | trimLeft %}
trimLeft:{% "" | trimLeft %}
trimLeft: {% " x" | trimLeft %}
trimLeft:{% "   " | trimLeft %}
trimRight: {% "abdef" | trimRight %}
trimRight:{% "" | trimRight %}
trimRight: {% " x " | trimRight %}
trimRight:{% "   " | trimRight %}
replace: {% "abab" | replace("ab", "x") %}
replace: {% "abb" | replace("ab", "a") %}
replace:{% "" | replace("ab", "a") %}
