print: {% string %}
upperCase: {% string | upperCase %}
lowerCase: {% upper | lowerCase %}
length: {% empty | length %}
length: {% string | length %}
kebabCase: {% with-spaces | kebabCase %}
camelCase: {% with-spaces | camelCase %}
snakeCase: {% with-spaces | snakeCase %}
pascalCase: {% with-spaces | pascalCase %}
